version: "3.9"

services:
  backend:
    build: ./backend
    image: paridhidocker009/communityfeed-backend:latest # Matches your Hub repo
    container_name: community-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    image: paridhidocker009/communityfeed-frontend:latest # Matches your Hub repo
    container_name: community-frontend
    command: npm run dev -- --host
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: always
