@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply bg-slate-900 border border-slate-800 rounded px-2 py-1 text-sm;
}
.btn {
  @apply bg-slate-800 border border-slate-700 px-3 py-1 rounded text-sm;
}
.btn-primary {
  @apply bg-indigo-600 hover:bg-indigo-500 px-4 py-1.5 rounded text-sm;
}
.btn-like {
  @apply bg-slate-800 border border-slate-700 px-3 py-1 rounded text-sm;
}
